
body{
    background-image: url("mauntains.png");
    background-attachment: fixed;
    background-size:cover ;
    display: inline-block;
    font-family: 'Silkscreen', cursive;
    padding: 10px;
    
}

header{
     
    text-align: center;  
    margin: auto;
}


h1{
    display: inline-block;
    font-size: 6em;
    color: rgb(179, 228, 217);
    font-weight: bolder;
    text-shadow: 10px 10px #191d42;
    margin-top: 80px;

}
h2{
   text-align: center;
    font-size: 2em;
    color: rgb(179, 228, 217);
    font-weight: bolder;
    text-shadow: 3px 3px #191d42;
     
}



.isaac{
    color: rgb(179, 228, 217);
    font-weight: bolder;
    text-shadow: 2px 2px #191d42;
   
    margin: auto;
}

.menu{
    text-align: center;  
 
    margin-bottom: 80px;
    padding-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.botao{
    font-family: 'Silkscreen', cursive;
    margin-top: 5px;
    color: #3f2d44;
    margin-bottom: 5px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    width: 400px;
    font-weight: bold;
    
    background-color:rgb(179, 228, 217);
    box-shadow: 5px 5px #191d42;
}

.inicial{
    font-family: 'Silkscreen', cursive;
    margin-top: 5px;
    color: #3f2d44;
    margin-bottom: 5px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    width: 200px;
    font-weight: bold;
    background-color:rgb(137, 212, 255);
    box-shadow: 5px 5px #191d42;
}

.botao:hover{
    background-color:rgb(96, 145, 134);
    cursor: pointer;

}

.inicial:hover{
    background-color:rgb(80, 157, 201);
    cursor: pointer;

}


.mapa{
    text-align: center;
    padding-top: 30px;
    margin: auto;
}

#image,#capital{
    width: 88%;
    height:auto;

}
 
section{
    letter-spacing: 1px;
    line-height: 1.5;
    border: #191d42;
    background:rgb(179, 228, 217 , 0.7);
    text-shadow: 1px 1px #585d7e 0.7;
    font-size: 1.3em;
    padding: 20px;
    text-align: justify;
    margin-top: 30px;
    width: 85%;
    margin: auto;
}

.minititulo{
    font-weight: bold;
    font-size: 1.3em;
}

.botaogrande{
    font-family: 'Silkscreen', cursive;
    margin-top: 5px;
    color: #3f2d44;
    margin-bottom: 5px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    width: 300px;
    font-weight: bold;
    background-color:rgb(137, 212, 255);
    box-shadow: 5px 5px #191d42;
}

.botaogrande:hover{
    background-color:rgb(80, 157, 201);
    cursor: pointer;

}

