
body{
    background-image: url("mauntains.png");
    background-attachment: fixed;
    background-size:cover ;
    display: inline-block;
    font-family: 'Silkscreen', cursive;
    
}

header{
     
    text-align: center;  
    margin: auto;
}

h1{
    display: inline-block;
    font-size: 6em;
    color: rgb(179, 228, 217);
    font-weight: bolder;
    text-shadow: 10px 10px #191d42;
    margin-top: 80px;
    
  
    
}

.menu{
    text-align: center;  

    margin-bottom: 80px;
    padding-top: 100px;
    margin: auto;
    margin-left: 10px;
}

button{
    font-family: 'Silkscreen', cursive;
    margin-top: 5px;
    color: #3f2d44;
    margin-bottom: 5px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    width: 400px;
    font-weight: bold;
    background-color:rgb(179, 228, 217);
    box-shadow: 5px 05px #191d42;
}

button:hover{
    background-color:rgb(96, 145, 134);
    cursor: pointer;

}

.mapa{
    text-align: center;
    padding-top: 30px;
margin: auto;
}

#image{
    width: 88%;
    height:auto;

}
